<ion-view view-title="Payment review">
  <ion-content class="padding page-background">
    <ion-list>
      <ion-item class="item-divider">AAAAA details</ion-item>

      <ion-item>
        <h4>Transfer type</h4>
        <p>{{ payment.paymentData.type}}</p>
      </ion-item>

      <ion-item>
        <h4>Commission</h4>
        <p>{{ payment.paymentData.commissionValue}}</p>
      </ion-item>

      <ion-item>
        <h4>To Pay</h4>
        <p>{{ payment.paymentData.toPay}}</p>
      </ion-item>

      <ion-item>
        <button class="button button-block button-balanced no-margin" ng-click="payment.pay()" >
          Pay
        </button>
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-view>
